﻿html {
	background: url(/Images/bg_mobile.jpg) no-repeat #1e1c20 ;
	height: 100%;
	background-size: cover;
}

#signing img{
	width: 200px;
}
	
body {
	background: transparent;
	height: 100%;
	padding: 0;
}

ul {
	padding: 0 0 0 2em;
}
	
ul li {
	padding-bottom: 0.5em;
	margin-left: 0;
	padding-left: 0;
}
	
#c {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
}

#c img {
	margin-top: -80px;
}

#f {
	background: #000;
	padding: 1em 0;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}

#f ul.links {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1;
}

#f ul.links li {
	margin: 0;
	padding: 0 0 0 1em;
	display: inline;
}

#f ul.links li a {
	color: #AAA;
	text-decoration: none;
}

#f ul.links li a:hover,
#f ul.links li a:visited:hover {
	color: #1481C4;
}

#pledge {
	color: #FFF;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	
	height: 1px;
	opacity: 0;
	overflow-y: hidden;
}

#pledge ul {
	padding: 1em 1em 0 2.25em;
	margin: 0;
	list-style-type: square;
}

#pledge ul li:last-child {
	padding-bottom: 0;
}

#f.showpledge #pledge {
	height: 7.5em;
	opacity: 1;
}

#f.showpledge #pledge-link {
	color: #FFF;
	font-weight: bold;
}

#madein {
	float: right;
	color: gray;
	padding-right: 1em !important;
}

@media only screen and (min-width: 25em) {
	html {
		background: url(/Images/bg_desktop.jpg) no-repeat #1e1c20;
		background-size: cover;
	}
}


@media only screen and (max-width: 25em) {
	#madein {
		display: none !important;
	}
}