﻿.package {
	background: #FFF;
	padding: 0;
}

.package.read {
	background: #F0F0F0;
}

.user {
	font-weight: bold;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background: #EEE;
}

	.user a {
		color: #222;
		text-decoration: none;
	}

	.screenname {
		font-weight: normal;
		color: #999; /*#9b5e28;*/
	}
	
	.pin {
		float: right;
		font-weight: normal;
		cursor: pointer;
	}
	
	.pin:hover {
		text-decoration: underline;
		color: #205598;
	}
	
	.pin .pin-true {
		display: none;
	}
	
	.pinned .pin-true {
		display: inline;
	}
	
	.pinned .pin-false {
		display: none;
	}

.tweets {
	list-style: none;
	margin: 0;
	padding: 0 ;
}

	.tweets .tweetgroup-title {
		padding: 0.7em 0.5em;
	}
	
	.tweets .tweetgroup-title a {
		text-decoration: none;
	}
	
	.tweets .tweetgroup-tweets {
		display: none;
	}
	
	.tweets .tweet {
		border-top: 1px solid #EEE;
		padding: 0.7em 0.5em;
	}

	.tweets img {
		max-width: 100%;
	}
	
	.tweets .text {
		margin-right: 3.5em;
		display: block;
	
		transition: color 0.3s;
		-moz-transition: color 0.3s; /* Firefox 4 */
		-webkit-transition: color 0.3s; /* Safari and Chrome */
	}

		.tweets .text a {
			text-overflow: ellipsis;
			text-decoration: none;
		}

	.tweets .read {
		background: #F9F9F9;
	}
	
		.tweets .read .text,
		.tweets .read .text *,
		.tweets .read .created {
			color: #777 !important;
		}

	.tweets .mention,
	.tweets .mention a {
		font-weight: normal;
		color: #222;
		text-decoration: none;
	}

	.tweets .hashtag,
	.tweets .hashtag a {
		color: #777;
		text-decoration: none;
	}

	.tweets .mention a:hover,
	.tweets .hashtag a:hover,
	.tweets .tweetgroup-title a:hover {
		text-decoration: underline;
		color: #205598;
	}



	.tweets .created{
		float: right;
		color: #777;
		text-decoration: none;
	}

		.tweets .created:hover {
			background: #fffde1;
			cursor: pointer;
			color: #000;
		}

	.tweets .indicator {
		color: #777;
		font-size: 11px;
		line-height: 19px;
	}

	.tweets a.media {
		padding-left: 16px;
		background: url(/Images/img.png) no-repeat left center;
	}

/* Media expanded */
.media-expanded {
	margin: 0.5em 0 0 0;
	padding: 0 0 0 0.5em;
	border-left: 3px solid #1481C4;
}

.media-expanded a,
.media-expanded.loaded .l {
	display: none;
}

.media-expanded .l {
	text-align: center;
	color: #333;
}

.media-expanded.loaded a{
	display: block;
}

/* User info */
.userinfo {
	margin: 0.5em 0 0 0;
	padding: 0 0 0 0.5em;
	border-left: 3px solid #1481C4;
	display: none;	
}

	.ui-name {
		font-weight: bold;
	}

	.ui-screenname {
		font-weight: normal;
		color: #999;
	}

	.ui-description {
		display: block;
	}

	.userinfo .close {
		font-size: 1.6em;
		float: right;
		padding: 0 0 0.5em 0.5em;
		cursor: pointer;
		line-height: 1;
		margin-top: -0.1em;
		color: #777;
	}

		.userinfo .close:hover {
			color: #000;	
		}

/* Added is used when package author has been clicked userinfo is shown above frist tweet */
.userinfo-added {
	margin-top: -0.2em;
	margin-bottom: 0.5em;
}