﻿:link,
a[href^="#"] {
	color: #205598;
}

html, body {
	background: #1e1c20;
}

#tweets,
#loading-error,
#loading-error-details {
	display: none;
}

#loading-error a {
	color: #FFF;
}

#loading,
#loading-error {
	color: #CCC;
}

body.loaded #loading,
body.loading-error #tweets, 
body.loading-error #loading {
	display: none;
}

body.loaded #tweets,
body.loading-error #loading-error {
	display: block;
}

/* = Top navigation */
#topnav {
	display: block;
	margin-bottom: 0.5em;
	text-align: right;
	color: #AAA;
	line-height: 20px;
}

#topnav #logo {
	float: left;
}

a.top {
	color: #DDD;
	display: block;
	padding: 0.5em;
	text-align: right;
}

#topnav a {
	color: #DDD;
}


#tweets {
	color: #222;
}

#nonew {
	color: #DDD;
}

/* Actions */
#actions {
	display: none;
}

#actions ul {
	padding: 0.5em 0 0 0;
	margin: 0;
	text-align: right;
}

#actions li {
	display: inline;
	border: 0;
	padding: 0 0 0 1ex;
	margin: 0;
}

/* Loading states */
.state>span.done,
.state>span.wait,
.state>span.error {
	display: none;
}

.state.wait>span.wait,
.state.done>span.done,
.state.error>span.error {
	display: inline;
}

/* Reply form */
#replyForm {
	display: none;
	padding-top: 0.5em;
}

#replyForm textarea {
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#replyForm .actionbar {
	padding-top: 0.5em;
}


#nonew,
#loading,
#loading-error {
	padding: 1em 0;
}


@media only screen and (max-width: 30em) {
	body {
		padding: 0.5em 0;
	}
	
	#topnav,
	#loading {
		padding: 0 0.5em;
	}
	
	#nonew,
	#loading,
	#loading-error {
		padding: 1em 0.5em;
	}
}

@media only screen and (min-width: 45em) 
{
	#c {
		width: 40em;
		margin: 0 auto;
	}
}