﻿@{
	Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>Buster &ndash; Twitter client for commute</title>
  <meta name="viewport" content="width=device-width">
  @Html.Partial("_Favicon")

  @Styles.Render("~/Content/homepage")
  @Html.Partial("_Tracking")
</head>
<body>
	<div id="c">
		<a href="@Url.Action("Index", "SignIn")" id="signing"><img src="/images/welcome_desktop.png" /></a>
	</div>
	<div id="f">
		<ul class="links">
			<li id="madein">Proudly built in Seattle</li>
			<li><a id="pledge-link" href="#" onclick="return togglePledge();">Our pledge</a></li>
			<li><a href="http://twitter.com/busterhq">Follow us</a></li>
		</ul>
		<div id="pledge">
			<ul>
				<li>Remember what you've already read</li>
				<li>Show tweets from your friends first (pin 'em!)</li>
				<li>Make following stories easier</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		// <![CDATA[
		function togglePledge() {
			var f = document.getElementById('f');
			if (f.className == '')
				f.className = 'showpledge';
			else
				f.className = '';

			return false;
		}
		// ]]>
	</script>
</body>
</html>
