﻿@using WebRole1.ViewModels.Timeline
@model WebRole1.ViewModels.Timeline.TimelineFeed

@if (Model.Package.Length == 0) {
	<div id="nonew">No new tweets yet... Try again in a few or start following more people.</div>
}
else
{

	<script type="text/template" id="media-expanded">
		<div class="media-expanded">
			<a href="{expanded}" target="_blank" class="p"></a>
			<span class="l">(loading)</span>
		</div>
	</script>

	<script type="text/template" id="userinfo">
		<div class="userinfo">
			<span class="l">(loading)</span>
		</div>
	</script>

	<div id="actions" data-sessionid="@Model.SessionID">
		<ul>
			<li id="actions-reply"><a href="#">Reply</a> </li>
			<li id="actions-fav" class="state">
				<a href="#">Favorite</a> 
				<span class="done">(done)</span> 
				<span class="error">(err)</span> 
				<span class="wait">(wait)</span>
			</li>
			<li id="actions-rt" class="state">
				<a href="#">Retweet</a>  
				<span class="done">(done)</span>  
				<span class="error">(err)</span> 
				<span class="wait">(wait)</span>
			</li>
		</ul>
	</div>

	<div id="replyForm">
		<form>
			<textarea cols="30" rows="3" name="status"></textarea>
			<input type="hidden" name="replyTo" value=""/>
			<input type="hidden" name="action" value="reply"/>
			<div class="actionbar">
				<input type="submit" name="submit" value="Submit reply" />
				&nbsp;
				<a href="#" id="replyForm-cancel">Cancel</a>
			</div>
		</form>
	</div>

	
	foreach (var packet in Model.Package)
	{
		<div class="package  @(packet.Author.Pinned ? "pinned" : "")">
			<div class="user" data-userid="@packet.Author.ID">
				<span class="pin">
					<span class="pin-false">pin</span>
					<span class="pin-true">pinned</span>
				</span>
				<img src="@packet.Author.Avatar" class="avatar" height="24"/> 
				<a href="https://twitter.com/@(packet.Author.ScreenName)" target="_blank" data-screenname="@packet.Author.ScreenName">@packet.Author.Name</a>&nbsp;
				<span class="screenname" data-screenname="@packet.Author.ScreenName" data-screenname="@packet.Author.ScreenName">@@@packet.Author.ScreenName</span>
			</div>
			<div class="tweets">
				@foreach (var portion in packet.Portions)
				{
					if (portion.PortionType == PortionType.Tweet)
					{
						@Html.Partial("Tweet", portion)
					}
					else if (portion.PortionType == PortionType.Group)
					{
						TweetGroup tweetGroup = (TweetGroup) portion;

						<div class="tweetgroup">
							<div class="tweetgroup-title"><a href="#">Show @tweetGroup.Title</a></div>
							<div class="tweetgroup-tweets">
								@foreach (var tweet in tweetGroup.Tweets)
								{
									@Html.Partial("Tweet", tweet);
								}
							</div>
						</div>
					}
				}
			</div>
		</div>
	}

	<a href="#top" class="top">Jump to the top</a> 
}

	