﻿@{
}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Buster</title>
  <meta name="viewport" content="width=device-width">
  
  @Html.Partial("_Favicon")
  @Styles.Render("~/Content/timeline")
  @Html.Partial("_Tracking")
</head>
<body>
	<div id="c">
		
		<div id="topnav">
			<img src="/images/logo_mini.png" width="70" height="20" alt="buster" id="logo"/>
			<a name="top"></a>
			<!-- <a href="#" class="markall">Mark all tweets as read</a> | -->
			<a href="/SignIn/Signout">Sign out</a> 
		</div>
		
		<div id="loading">
			<p>Loading new tweets... Stay tuned! &nbsp;<img src="/images/loading.gif" style="vertical-align: middle;" /></p>
		</div>

		<div id="loading-error">
			<p>We could not load recent tweets. Please reload page to try again. <a href="#" id="loading-error-showDetails">Technical details</a></p>
			
			<p id="loading-error-details"></p>
		</div>


		<div id="tweets">
		</div>
	</div>
	
  <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
  @Scripts.Render("~/Scripts/timeline")
</body>
</html>