﻿@model WebRole1.ViewModels.Timeline.Tweet
<div data-tweetid="@Model.ID" class="unread tweet">
	<a href="#" class="created">
		@Model.CreatedFormatted
		<span class="indicator">&#9660;</span>
	</a>
	<span class="text">@Html.Raw(Model.Text)</span>
</div>