﻿@model WebRole1.Infra.TwitterApi.TwitterUser
@{
    Layout = null;
}
<span class="close">&times;</span>

<span class="ui-name">@Model.Name</span> <span class="ui-screenname">@@@Model.ScreenName</span> <span class="ui-followers">(@Model.FollowersCount followers)</span>
<span class="ui-description">@Html.Raw(Model.Description)</span>

<span class="ui-rel state">
	@if (Model.Following)
	{
		<a href="#" data-screenname="@Model.ScreenName" class="ui-unfollow">Unfollow</a>
	}
	else
	{
		<a href="#" data-screenname="@Model.ScreenName" class="ui-follow">Follow</a>
	}

	<span class="done">(done)</span>  
	<span class="error">(err)</span> 
	<span class="wait">(wait)</span>
</span>